#container{
    background-color: #2c2c2c;
    color: white;
    box-sizing: border-box;
    
    overflow:auto;
}
#container a{
    text-decoration: none;
    color: white;
    
    
    
}
#container ul li{
    list-style-type: none;
    
    

}
#container li{
    padding-bottom: 15px;
}
.paddingless{
    padding: 0px;
}

#container1{
    width: 35%;
    
}
.container2{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 18.06%;
    float: left;
    
    

}
#marginleft1{
    margin-left: 90px;
}
#margincenter{
    margin-left: 10px;
}
#marginleft{
    margin-left:20px;
}